*.egg-info/*
*.pyc
*/__pycache__/
*monkeytype.sqlite3
*~
.cache/*
.coverage
.eggs/*
.mypy_cache
.mypy_cache/*
.pytest_ca
README.md.old
README.md.temp
\#*\#
\.\#*
build/*
dist/*
env/*
pip-selfcheck.json
*/*.egg-info/*
.coverage.json
.python-version
.tox/
.idea/
